fastapi
uvicorn[standard]
python-dotenv
httpx
google-genai
python-multipart
cryptography>=41.0.0
groq
pypdf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
